<div class="actionMenu">
<%- if @current_page == 'index' -%>
  <%= link_to '戻る', main_app.sys_plugins_path %>
<%- else -%>
  <%= link_to '戻る', root_path %>
<%- end -%>
<%- if @current_page == 'detail' -%>
  <span class="separator"></span>
  <%= link_to "削除", tests_destroy_path(id: @auto_test_id), data: { :confirm => '削除してよろしいですか？' } %>
<%- elsif @current_page == 'scenario' -%>
  <span class="separator"></span>
  <%= link_to "一覧", action: 'result', id: @auto_test_id %>
<%- elsif @current_page == 'result' -%>
  <span class="separator"></span>
  <%= link_to "詳細", action: 'scenario', id: @auto_test_id %>
<%- else -%>
<%- end -%>
</div>